@model IEnumerable<ChildServiceModel>

@{
	ViewBag.Title = "All Children";
}


<table class="table table-stripped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Middle Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">Group Name</th>
      <th scope="col">Approved</th>

      <th scope="col"></th>


    </tr>
  </thead>
  <tbody>
        @foreach(var child in Model)
        {
            <tr>
                  <td scope="col">@child.Id</td>
                  <td scope="col">@child.FirstName</td>
                  <td scope="col">@child.MiddleName</td>
                  <td scope="col">@child.LastName</td>
                  <td scope="col">@child.Age</td>
                  <td scope="col">@child.GroupName</td>
                  <td scope="col">@(child.IsConfirmed ? "Yes":"No")</td>

                  <td scope="col">
                     <a asp-area="" asp-controller="Childs" asp-action="Details" asp-route-id="@child.Id" asp-route-information="@child.GetInformation()" class="btn btn-primary float-right ml-3">Details</a>
                     <a asp-area="Admin" asp-controller="Childs" asp-action="ChangeVisibility" asp-route-id="@child.Id" asp-route-information="@child.GetInformation()" class="btn btn-info float-right ml-3">@(child.IsConfirmed ? "Hide":"Show")</a>
					<a asp-area="" asp-controller="Childs" asp-action="Edit" asp-route-id="@child.Id" class="btn btn-warning float-right ml-3">Edit</a>
					<a asp-area="" asp-controller="Childs" asp-action="Delete" asp-route-id="@child.Id" class="btn btn-danger float-right ml-3">Delete</a>
                   </td>
            </tr>
        }
    </tbody>
</table>