@model IEnumerable<ChildServiceModel>


	<div class="row">
	@foreach (var child in Model)
	{
		<div class="col-md-4">
			<div class="card mb-3">
				<div class="card-body text-center">
					<h5 class="card-title text-center">@child.FirstName @child.MiddleName @child.LastName who is @child.Age years old and is registered in group @child.GroupName.</h5>
					<p class="card-text text-center">@child.GroupName</p>
					<a asp-controller="Childs" asp-action="Details" asp-route-id="@child.Id" class="btn btn-primary">Details</a>
					@if (ViewBag.AllowChildEdit==true||User.IsAdmin()) 
					{
					<a asp-controller="Childs" asp-action="Edit" asp-route-id="@child.Id" class="btn btn-warning">Edit</a>
					<a asp-controller="Childs" asp-action="Delete" asp-route-id="@child.Id" class="btn btn-danger">Delete</a>
						
					
					}
				</div>
			</div>

		</div>

	}
</div>
