@model ChildDetailsServiceModel

@{
	ViewBag.Title = "Child Details";
}

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card mb-3">
				<h5 class="card-title text-center">@Model.FirstName @Model.MiddleName @Model.LastName who is @Model.Age years old and is registered in group @Model.GroupName.</h5>
					<p class="text-center">Extracurricular activity signed for: @Model.ECAName.</p>
					<p class="text-center">Trip signed for: @Model.TripName.</p>
					<p class="text-center">Menu signed for: @Model.MenuName.</p>
					<p class="text-center">Responsible parent first name: @Model.ParentFirstName.</p>
					<p class="text-center">Responsible parent last name: @Model.ParentLastName.</p>
					<a href="/Childs/All" class="btn btn-primary">Go back</a>
				</div>
			</div>

		</div>
	</div>
</div>





